# Python cache
__pycache__/
*.py[cod]
*$py.class

# Linter and Type Checker cache
.mypy_cache/
.ruff_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Data
data/

# Virtual Environments
venv/
.venv/
env/

# Outputs
# output/
